* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
header {
  text-align: center;
  padding: 40px 40px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  background: #50a3a2;
  width: 100%;
  height: 100%;
}

.container {
  margin: 10% auto;
  padding: 80px 0;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
}

input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #077788;
  font-weight: 300;
}

button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #50a3a2;
  text-align: center;
  border-radius: 3px;
  font-size: 18px;
  display: block;
  margin: 0 auto; /* Center the button below the input */
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

/* Hover and focus states to enhance interactivity */
button:hover, button:focus {
  background-color: #f9fafa; /* Slightly lighter for the hover state */
  color: #50a3a2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Larger shadow for 3D lift effect */
}

.note {
  background: #fff;
  color: black;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 400px;
  margin: 15px;
  float: left;
}
.note h1 {
  font-size: 15px;
  color: black;
  margin-bottom: 6px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note p {
  font-size: 1.1em;
  color: black;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Styling adjustments for smaller buttons within the note for copy actions */
.note button {
  padding: 5px 10px; /* Smaller padding for a more compact design */
  font-size: 12px; /* Smaller font for better fit */
  margin-left: auto; /* Pushes button to the right */
  display: inline-block; /* Ensures buttons are in line */
  background-color: hsl(184, 63%, 87%);
}

.note-controls { /* Additional div for better control */
  display: flex;
  justify-content: flex-end; /* Aligns buttons to the right */
}

form {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;

  padding: 15px;
  border-radius: 7px;

}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form button {
  color: #50a3a2;
  border: none;
  width: 100%;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

